{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "electron": "16.2.8" },
        "useBuiltIns": "usage",
        "debug": false,
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
